.header{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #EBE0E9;
}
.header .logo{
    width: 200px;
    font-weight: 700;
    margin-left: 15px;
    font-size: 26px;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.nav a{
    display: flex;
    align-items: center;
    padding: 22px 35px;
    opacity: 0.4;
    font-size: 18px;
    color:#2D2E46;
}

.nav i{
    font-size: 26px;
    margin-right: 5px;
}
.nav .active{
    background: #DCCCDB;
    border-bottom: 5px solid #21268F;
    opacity: 1;

}
@media screen and ( max-width: 700px) {
.header .logo{
    width: 100%;
    font-size: 14px;
}
.nav a{
    font-size: 14px;
    padding: 15px 25px;

}
    
}