.container{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 25px;
}
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
}