.authWrapper {
  width: 100vw;
  height: 100vh;
}
.formContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
  margin: 50px auto;
  padding: 33px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
}
.formContainer h3 {
  margin-bottom: 50px;
}
.formContainer label {
  text-align: left;
  font-size: 13px;
  color: #24254a;
  opacity: 0.5;
  margin-bottom: 10px;
}
.formContainer input {
  margin-bottom: 50px;
}
.formContainer button {
  margin: 50px 0;
}
