.buttonStyles{
    padding: 9px;
    width: 100%;
    border-radius: 30px;
    background-color: #21268F;
    color: #fff;
    border: none;
    box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    transition: all 0.4s ease-in-out;
}
.buttonStyles:hover{
    cursor: pointer;
    box-shadow: 0 0.5em 0.5em -0.4em #21268F;
}