.main{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.options b{
    display: block;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}
.buttons button{
    width: 200px;
}
